.banners {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
	max-width: 1270px;
	margin: 0 auto;
  padding: 40px 20px;
}

.banners__link {
  position: relative;
  min-width: 589px;
  margin: 20px 0;
  padding: 105px 42px 45px;
  font-family: Exo2;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    height: 170px;
    background: linear-gradient(to right, rgba(206, 65, 128, 0.9), rgba(206, 65, 128, 0.5));
  }
}

.banners__img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  min-width: 589px;
}

.banners__logo {
  position: absolute;
  top: 44px;
  left: 43px;
  min-width: 58px;
}