.page-header {
	position: relative;

	&::before {
		position: absolute;
		content: "";
		top: 158px;
		width: 100%;
		border-bottom: 1px solid #eaeaea;
	}
}

.page-header__nav {
	background-color: #373737;
}

.page-header__contacts {
	display: flex;
	justify-content: space-between;
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 20px 23px;
}

.page-header__leftColumn {
	display: flex;
}

.page-header__logo {
	margin-right: 38px;
}

.page-header__alphabet {
	margin: 25px 0 -10px;
	position: relative;
	font-family: Exo2;
	color: #ffffff;
	font-weight: 700;
	font-size: 25px;
	text-transform: uppercase;

	&::before {
		position: absolute;
		content: "";
		z-index: -1;
		top: -25px;
		left: 0;
		width: 94px;
    height: 48px;
		background-color: #cd3378;
	}
}

.page-header__windows {
	margin: 0 0 0 -2px;
	font-family: Exo2;
	color: #cd3378;
	font-size: 37px;
	font-weight: 700;
	text-transform: uppercase;
}

.page-header__desc {
	margin: 36px 0 0;
	color: #818181;
}

.page-header__rightColumn {
	display: flex;
	align-items: center;
}

.page-header__tel {
	display: block;
  margin-top: 24px;
	color: #545455;
	font-size: 22px;
	font-weight: 700;

	&:hover {
		text-decoration: underline;
	}
}

.page-header__time {
	margin: 0;
	color: #818181;
	font-size: 14px;
}

.page-header__btn {
	margin: 24px 0 0 45px;
	padding: 11px 21px;
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	border: none;
	border-radius: 6px;
	background-color: #ce4180;
  transition: all 0.4s ease;

	&:hover {
		background-color: #f19bc1;
	}
}

.page-header__type {
	max-width: 885px;
	margin: 0 auto;
	padding: 33px 0;
}

.page-header__list {
	display: flex;
	justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header__link {
	padding: 10px 0 10px 41px; 
	position: relative;
	font-family: Exo2;
	color: #545455;
	font-weight: 700;
	text-transform: uppercase;

	&:hover .page-header__lines {
		&::before {
			position: absolute;
			content: "";
			background-color: #f89ec6;
		}
	
		&::after {
			position: absolute;
			content: "";
			background-color: #f89ec6;
		}
	}

	&:hover .page-header__lines--line4-3 {
		&::before {
			background-color: transparent;
			border: 2px solid #f89ec6;
		}
	}
}

.page-header__lines {
	&::before {
		position: absolute;
		content: "";
		background-color: #e0e0e0;
	}

	&::after {
		position: absolute;
		content: "";
		background-color: #e0e0e0; 
	}
}

.page-header__lines--line1-1 {
	&::before {
		top: 6px;
		left: 0;
		width: 2px;
		height: 28px;
	}

	&::after {
		top: 6px;
    left: 22px;
		width: 2px;
		height: 28px;
	}
}

.page-header__lines--line1-2 {
	&::before {
		top: 6px;
		left: 11px;
		width: 2px;
		height: 28px;
	}

	&::after {
		top: 6px;
		left: 0;
		width: 24px;
		height: 2px;
	}
}

.page-header__lines--line1-3 {
	&::before {
		top: 32px;
		left: 0;
		width: 24px;
		height: 2px;
	}
}

.page-header__lines--line2-1 {
	&::before {
		top: 6px;
		left: 0;
		width: 2px;
		height: 28px;
	}

	&::after {
		top: 6px;
		left: 14px;
		width: 2px;
		height: 28px;
	}
}

.page-header__lines--line2-2 {
	&::before {
		top: 6px;
		left: 0;
		width: 16px;
		height: 2px;
	}

	&::after {
		top: 32px;
    left: 0;
		width: 16px;
		height: 2px;
	}
}

.page-header__lines--line3-1 {
	&::before {
		top: 6px;
		left: -13px;
		width: 2px;
		height: 28px;
	}

	&::after {
		top: 6px;
		left: 21px;
		width: 2px;
		height: 28px;
	}
}

.page-header__lines--line3-2 {
	&::before {
		top: 6px;
		left: -2px;
		width: 2px;
		height: 28px;
	}

	&::after {
		top: 6px;
		left: 9px;
		width: 2px;
		height: 28px;
	}
}

.page-header__lines--line3-3 {
	&::before {
		top: 6px;
		left: -13px;
		width: 36px;
		height: 2px;
	}

	&::after {
		top: 33px;
    left: -13px;
		width: 36px;
		height: 2px;
	}
}

.page-header__lines--line4-1 {
	&::before {
		top: 6px;
		left: -5px;
		width: 2px;
		height: 28px;
	}

	&::after {
		top: 6px;
		left: 20px;
		width: 2px;
		height: 28px;
	}
}

.page-header__lines--line4-2 {
	&::before {
		top: 6px;
		left: -5px;
		width: 27px;
		height: 2px;
	}

	&::after {
		top: 32px;
    left: -5px;
    width: 36px;
		height: 2px;
	}
}

.page-header__lines--line4-3 {
	&::before {
		top: 11px;
    left: -1px;
		width: 19px;
		height: 18px;
		background-color: transparent;
		border: 2px solid #e0e0e0;
		border-radius: 50%;
	}

	&::after {
		top: 32px;
    left: 29px;
    width: 2px;
		height: 4px;
	}
}

.page-header__lines--line5-1 {
	&::before {
		top: 6px;
		left: 0;
		width: 2px;
		height: 28px;
	}

	&::after {
		top: 6px;
    left: 12px;
		width: 2px;
		height: 9px;
	}
}

.page-header__lines--line5-2 {
	&::before {
		top: 6px;
		left: 0;
		width: 14px;
		height: 2px;
	}

	&::after {
		top: 32px;
    left: 0;
		width: 14px;
		height: 2px;
	}
}

.page-header__lines--line5-3 {
	&::before {
		top: 14px;
    left: 6px; 
		width: 17px;
		height: 2px;
	} 

	&::after {
		top: 19px;
    left: 6px; 
		width: 17px;
		height: 2px;
	}
}

.page-header__lines--line5-4 {
	&::before {
		top: 14px;
    left: 6px;
		width: 2px;
		height: 6px;
	}

	&::after {
		top: 14px;
    left: 21px;
		width: 2px;
		height: 6px;
	}
}

.page-header__lines--line5-5 {
	&::before {
		top: 21px;
    left: 12px;
    width: 2px;
    height: 13px;
	}
}