.sliders {
  position: relative;
  background-color: #f3f3f3;
}

.sliders__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sliders__item {
  display: none;
}

.sliders__item--active {
  display: block;
  height: 551px;
}

.sliders__img {
  display: block;
  margin: 0 auto;

  &--slider1 {
    min-width: 1240px;
  }
 
  &--slider2 {
    min-width: 1500px;
  }
  
  &--slider3 {
    min-width: 1300px;
  }
}

.sliders__desc {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 750px;
  height: 174px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 0px 31.96px 2.04px rgba(88, 79, 85, 0.41);
  transform: translate(-50%, 0%);
}

.sliders__title {
  margin: 41px 0 0;
  font-family: Exo2;
  color: #545455;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.sliders__text {
  margin: 12px 0;
  color: #818181;
  font-size: 18px;
} 

.sliders__btns {
  position: absolute;
  bottom: 22px;
  left: 50%;
  display: flex;  
  justify-content: space-between;
  width: 55px;
  transform: translate(-50%, 0%);
}

.sliders__btn {
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #dedede;
  border-radius: 50%;
  background-color: #ffffff;  
  cursor: pointer;   
}

.sliders__btn--active {
  border: 1px solid #cd3378;
  background-color: #cd3378;
}
