.work {
  position: relative;
  max-width: 1240px;
	margin: 0 auto;
	padding: 35px 20px 56px;
}

.work__title {
  font-family: Exo2;
  color: #545455;
  font-size: 26px;
  font-weight: 400;
}

.work__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1142px;
  margin: 0 auto;
  padding: 12px 0 0;
  list-style: none;
}

.work__img {
  min-width: 209px;
  transition: all ease-out 0.5s;

  &:hover {
    transform: scale(1.2);
  }
}

.work__button {
  min-width: 17px;
}

.work__btn {
  position: absolute;
  top: 54%;
  background-color: transparent;
  border: none;
  transition: all 0.4s ease;

  &--left {
    left: 15px;
  }
  
  &--right {
    right: 15px;
    transform: rotate(180deg);
  }

  &--left:hover {
    left: 10px;
  }

  &--right:hover {
    right: 10px;
  }
}
